/* bu bir yorum class*/
.kodadi2023 {
	font-size: 25px;
	font-family: Lucida Calligraphy;
	color: red;
	text-align: center;
}
/* Alttaki örnek etikete etki eder*/
h1 {
	font-size: 25px;
	font-family: Lucida Calligraphy;
	color: purple;
}
.resim {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

/* bu arkaplan resmi koyar.
body{
	background: url(görsel.jpg) no-repeat center center fixed;
	background-size: cover;
}*/
 body,html{
 	background-color: pink !important;
 }